<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <ion-img src="/assets/logo_sigo.png"></ion-img>
      <h1 style="color: #ffffff;">S.I.G.O</h1>
      <p style="color: #ffffff;">Sistema de Información General de Optimización</p>    
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-input [(ngModel)]="username" style="color: #ffffff;" label="Enviar correo" label-placement="floating" fill="outline" placeholder="Enviar correo"></ion-input>
      </div>
    </div>
    <div class="action-buttons ion-padding"> 
      <ion-button (click)="resetPassword()" class="send-button" expand="block" fill="outline" shape="round" style="--color: #ffffff;" size="large" >Enviar Correo</ion-button>
      <ion-button routerLink="/login" class="cancel-button" expand="block" fill="outline" shape="round" style="--color: #ffffff;" size="large" >Cancelar</ion-button>
    </div>
  </div>
</ion-content>
